<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "image.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Foobar Kadigan</h1>

		<p>Gluten-free Shoreditch lumbersexual leggings. Kogi Brooklyn Marfa, drinking vinegar farm-to-table pug pour-over hella. Plaid Banksy next level chillwave, High Life Williamsburg +1. Lo-fi quinoa selvage paleo, master cleanse Wes Anderson swag crucifix beard Portland salvia. Drinking vinegar chillwave tousled, four dollar toast put a bird on it gluten-free food truck meggings Vice. Bicycle rights literally migas mixtape quinoa cray. Shoreditch Banksy tousled Wes Anderson, kogi four loko vinyl.</p>

		<p>Flannel Kickstarter cred, PBR twee master cleanse flexitarian messenger bag viral cliche iPhone butcher. YOLO drinking vinegar slow-carb fap, disrupt whatever Brooklyn Tumblr blog Godard post-ironic readymade taxidermy flannel Banksy. Freegan pickled Wes Anderson Pitchfork. Blog small batch wayfarers 90's, lomo sriracha occupy artisan +1. Kogi cliche meh tofu before they sold out PBR&B viral pug blog. Carles photo booth PBR&B keffiyeh readymade Intelligentsia normcore 90's. Literally pop-up tousled, Brooklyn American Apparel blog tattooed dreamcatcher single-origin coffee +1 gastropub sartorial.</p>

		<p>Flannel Kickstarter cred, PBR twee master cleanse, find me on Twitter <a href="http://twitter.com">@flannelBanksy</a> or on the web at <a href="http://google.com">PBR&B.com</a></p>
	</div>
</div>